.landing-page-carousel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.carousel-left-side {
}

.carousel-left-side-photo-title {
  position: relative;
  top: 2.5rem;
  right: -30%;
  width: 65%;
  max-width: 20rem;
  height: 60%;
}

.carousel-left-side-photo {
  height: 100%;
  overflow: hidden;

  img {
    position: relative;
    zoom: 110%;
    top: -35px;
    left: -50px;
    mix-blend-mode: hard-light;
  }
}

.carousel-left-side-title {
  position: absolute;
  z-index: 11;
  width: clamp(8vw, 9rem, 12vw);
  top: 1.75rem;
  left: -2rem;
  overflow: hidden;
  word-break: break-word;

  h1 {
    font-size: clamp(2.25rem, 8vw, 7rem);
  }
}

.carousel-left-side-description {
  position: relative;
  top: 6rem;
  left: 4rem;
  max-width: 30vw;
  line-height: 1.2rem;
  max-height: 3.4rem;
  margin: 0.5rem 1rem;

  p {
    margin: 0;
  }
}

.carousel-right-side {
  display: flex;
  justify-content: center;

  .carousel-right-side-photos {
    display: flex;
    height: 100%;
  }
}

.carousel-right-side-photo {
  position: relative;
  width: 20vw;
  max-width: 190px;
  height: 65vh;
  overflow: hidden;

  img {
    position: relative;
    zoom: 120%;
    top: -40px;
    left: -50%;
    mix-blend-mode: hard-light;
  }
}

#carousel-right-side-photo-1 {
  bottom: -30%;
}

#carousel-right-side-photo-2 {
  top: 5%;
  right: -4rem;
}

#w-h-line-1 {
  width: 10rem;
  bottom: 5rem;
  right: 14vw;
}

#w-h-line-2 {
  width: 10rem;
  top: 10rem;
  right: 17vw;
}

.carousel-mid-section {
  position: absolute;
  top: 60vh;
  left: 50%;
  padding: 2rem 0;

  a {
    position: relative;
    left: -50%;
  }

  a:hover {
    text-decoration: underline solid white;
  }

  .up-v-line {
    bottom: 100%;
    height: 40vh;
  }

  .btm-v-line {
    top: 100%;
    height: 20vh;
  }
}

#landing-page {
  height: 100vh;
  background: black;
  color: white;
}

#landing-page-carousel {
  height: 100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-controls {
  display: none;
}
