.landing-page-carousel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carousel-left-side {
  h1 {
    position: absolute;
    z-index: 11;
  }
}

.carousel-left-side-photo {
  position: relative;
  top: 0;
  left: 20%;
  width: 90%;
  height: auto;

  img {
    object-fit: cover;
    object-position: 20% 10%;
  }
}

#landingPage {
  height: 100vh;
  background: black;
  color: white;
}

.carousel-controls {
  display: none;
}
