.landing-page-carousel-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carousel-left-side {
  h1 {
    position: absolute;
    z-index: 11;
  }
}

.carousel-left-side-photo {
  position: relative;
  top: 0px;
  left: 25%;
  width: 55%;
  height: 85%;
  overflow: hidden;

  img {
    position: relative;
    zoom: 110%;
    top: -35px;
    left: -50px;
  }
}

#landingPage {
  height: 100vh;
  background: black;
  color: white;
}

.carousel-controls {
  display: none;
}
