<div class="comp_photos-gallery">
  <% component_photos.sort_by(&:name).each do |cp| %>
    <% cp.photos.each do |photo| %>
      <%= link_to artwork_path(cp.artwork) do %>
        <%= cl_image_tag photo.key %>
      <% end %>
    <% end %>
  <% end %>
</div>
