<div class="aw-banner">
  <% if aw.photo.attached? %>
    <%= cl_image_tag aw.photo.key %>
  <% end %>
  <div class="aw-banner-text">
    <%= link_to artwork_path(aw) do %>
      <h3><%= aw.name %></h3>
    <% end %>
    <p><%= aw.description %></p>
  </div>
</div>
