<div class="navbar">
  <div class="nav-title">
    <%= link_to root_path do %>
      <h2>ARTISTICA</h2>
    <% end %>
  </div>
  <div class="nav-btns">
    <% if ['gallery'].exclude?(action_name) %>
      <%= link_to 'Galerie', gallery_path, id: "gallery-btn", class: "my-btn cta-btn white-cta" %>
    <% else %>
      <%= link_to 'Galerie', '', class: "my-btn cta-btn white-cta" %>
    <% end %>
    <%= link_to 'Accueil', home_path, class: "my-btn white-transp-btn" %>
  </div>
</div>

