<div class="navbar">
  <div class="nav-title">
    <h2>ARTISTICA</h2>
  </div>
  <div class="nav-btns">
    <%= link_to 'Galerie', gallery_path, class: "my-btn cta-btn white-cta" %>
    <%= link_to 'Accueil', home_path, class: "my-btn white-transp-btn" %>
  </div>
</div>
<div class="under-nav"></div>

