<div class="navbar">
  <div class="nav-title">
    <%= link_to root_path do %>
      <h2>ARTISTICA</h2>
    <% end %>
  </div>
  <div class="nav-btns">
    <%= link_to 'Galerie', gallery_path, class: "my-btn cta-btn white-cta" %>
    <%= link_to 'Accueil', home_path, class: "my-btn white-transp-btn" %>
  </div>
</div>

