<div class="gallery">
  <div class="gallery-grid top-grid">
    <div class="side-bar">
      <h3>Titre d'expo</h3>
    </div>
    <div class="empty-div"></div>
  </div>
  <div class="gallery-grid bottom-grid">
    <div class="empty-div"></div>
    <div class="gallery-content">
      <div class="title">
        <h3>this is gallery</h3>
      </div>
    </div>
  </div>
</div>


