<div class="gallery">
  <div class="gallery-grid top-grid">
    <div class="side-bar">
      <div class="arrow-down"></div>
      <%= link_to gallery_path do %>
        <h3>Titre d'expo</h3>
      <% end %>
      <div class="arrow-down"></div>
    </div>
    <div class="empty-div"></div>
  </div>
  <div class="gallery-grid bottom-grid">
    <div class="empty-div"></div>
    <div class="gallery-content">
      <div class="container">
        <div class="title">
          <h2>gallery</h2>
        </div>
      </div>
    </div>
  </div>
</div>


