<div class="home">
  <div class="home-content">
    <div class="under-nav"></div>
    <div class="title">
      <section id="video-banner">
        <h3>This is video banner</h3>
      </section>
      <section id="press-banner">
        <h3>This is press banner</h3>
      </section>
      <section id="wip-banner">
        <h3>This is WIP banner</h3>
      </section>
      <section id="event-banner">
        <h3>This is event banner</h3>
      </section>
      <section id="blog-banner">
        <h3>This is blog banner</h3>
      </section>
    </div>
  </div>
  <div class="side-bar">
    <ul>
      <li><a href="#video-banner" data-remote="true">Présentation</a></li>
      <li><a href="#press-banner" data-remote="true">Presse</a></li>
      <li><a href="#wip-banner" data-remote="true">En cours</a></li>
      <li><a href="#event-banner" data-remote="true">Événements</a></li>
      <li><a href="#blog-banner" data-remote="true">Blog</a></li>
    </ul>
  </div>
</div>

<%= javascript_pack_tag 'scroll_spy' %>
