<div id="landing-page">
  <div id="landing-page-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="under-nav"></div>
        <%= render 'expositions/landing_page_carousel_expo' %>
      <div class="carousel-mid-section">
        <div class="w-v-line up-v-line"></div>
        <%= link_to exposition_path(@expos.first) do  %>
          <h4><%= t('.visit_gallery_btn') %></h4>
        <% end %>
        <div class="w-v-line btm-v-line"></div>
      </div>
    </div>
    <div class="carousel-controls">
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
