.aw-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5rem;

  img {
    box-shadow: black 0px 0px 4px;
  }
}

.aw-banner-text {
  width: 65vw;
  margin-top: 1rem;
  text-align: start;
}
