.banner {
  margin: 3rem 0 5rem;
}

.video-banner-background {
  background-image: url('https://source.unsplash.com/5MTf9XyVVgM/1600x900');
  height: 50vh;
  background-size: cover;
  background-position-y: center;
}

.video-banner-title {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  h1 {
    position: relative;
    top: 15%;
    right: 5%;
    color: white;
    font-size: clamp(5rem, 9vw, 10rem);
    font-family: 'Teko', sans-serif;
  }
}

.video-banner-description p {
  margin: 3rem 0 5rem;
}

#press-banner {
  position: relative;
}

#wip-banner {
  height: 125vh;
}

#event-banner {
  height: 125vh;
}

#contact-banner {
  background-color: black;
  color: white;
  padding: 2rem;
}

.contact-banner-content {
  display: flex;
  justify-content: center;
  margin: 2rem;

  .left-side, .right-side {
    width: 50%;
    padding: 1rem 3rem;
  }
}
