.aw-photo-banner img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}

#video-banner {
  height: 65vh;

  video {
    object-fit: cover;
  }
}

#press-banner {
  height: 125vh;
}

#wip-banner {
  height: 125vh;
}

#event-banner {
  height: 125vh;
}

#blog-banner {
  height: 125vh;
}
