.article-cards-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.article-card {
  display: flex;
  height: 25rem;
  width: 17rem;
  padding: 0.75rem 1.25rem;
  background-color: black;
  box-shadow: -1rem 0 3rem #ffffff;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  overflow: hidden;
}

.article-card:not(:first-child) {
    margin-left: -50px;
}

.article-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.article-card:hover ~ .article-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.article-card .title {
  color: white;
  font-weight: 300;
  text-align: start;
}

.article-card p {
  color: white;
  font-size: small;
  text-overflow: ellipsis;
  margin: 1rem 0;
}
