.article-cards {
  width: 100%;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-card {
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 25vh;
  box-shadow: -1rem 0 3rem white;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  padding: 1rem 1.25rem;
  overflow: hidden;
  background-color: #17141d;
  color: white;
}

.article-card:not(:first-child) {
    margin-left: -50px;
}

.article-card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.article-card:hover ~ .article-card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
